DATABASE_URL="postgresql://postgres:123@localhost:5434/nest"
MERCADO_PAGO_URL="https://api.mercadopago.com"
MERCADO_PAGO_TOKEN="MY-MERCADO-PAGO-API-TOKEN"
WEBHOOK_URL = "https://www.host.com/payment/notify" #Use a testing webhook site to receive payment notifications, such as https://webhook.site
MERCADO_PAGO_WEBHOOK_SIGN="MY-MERCADO-PAGO-WEBHOOK-VERIFICATION-KEY"